[Desktop Entry]
Type=Application
Name=Armory (Testnet)
GenericName=Unobtanium Client
Comment=Full-featured Unobtanium wallet management application
Categories=Qt;Network;
Exec=/usr/local/bin/armory --testnet
Icon=armorytestneticon
StartupNotify=false
Terminal=false
Keywords=unobtanium;finance;wallet;money;test;testnet;
