[Desktop Entry]
Type=Application
Name=Armory
GenericName=Unobtanium Client
Comment=Full-featured Unobtanium wallet management application
Categories=Qt;Network;
Exec=/usr/local/bin/armory
Icon=armoryicon
StartupNotify=false
Terminal=false
Keywords=unobtanium;finance;wallet;money;
